<!DOCTYPE html>
<html>
<head>
  <title>Table4 Visualization </title>
</head>
<body>
  <h2> Student</h2>
  <table>
    <thead>
      <tr>
        <th>StudentID</th>
        <th>Firstname</th>
        <th>Lasttname</th>
        
      </tr>
    </thead>
    <tbody>
      {% for table in table3 %}
      <tr>
        <td>{{ table4.StudentID }}</td>
        <td>{{ table4.Firstname }}</td>
        <td>{{ table4.Lastname }}</td>
       
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>